/**
 * Body CSS
 */
html,
body {
    height: 100%;
    background-color: #eee;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    transition: margin-left 0.2s;

    /* sticky bottom */
    margin-bottom: -160px;
    padding-bottom: 160px;
}

.detail {
    position: relative;
    padding: 120px 32px;
}

.mui--appbar-height h1 {
    display: inline;
    padding-left: 50px;
    font-size: 40px;
}

.detail__header {
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    background-color: green;
    width: 100%;
    padding: 0 32px;
    color: white;
    box-shadow: 0 5px 13px 0 #5f5e5e;
}

.detail__header h2 {
    font-size: 38px;
}

.detail__header {
    font-size: 38px;
}

.detail__block {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 32px;
}

.detail__block-img img {
    max-width: 100%;
    height: auto;
}

.detail__block-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 32px;
}

.detail__block--big-gray-text {
    font-size: 30px;
    color: gray;
}

.detail__block-rating {
    font-weight: bold;
    font-size: 28px;
}

.go-back {
    font-size: 30px;
    font-weight: bold;
    padding-left: 32px;
    color: #fff;
}

.mui-appbar {
    background-color: #000;
}

.detail__description {
    font-size: 30px;
}

.mui-col-xs-6 {
    padding-left: 0;
    padding-right: 0
}

