<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pop movies{% endblock %}</title>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css?v=1.5" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
{% block stylesheets %}{% endblock %}
</head>
<body>
<div id="content-wrapper">
    <div class="mui-appbar">

        <table width="100%">
            <tr style="vertical-align:middle;">
                <td class="mui--appbar-height" style="padding-left: 15px">{% block appbar_action %}{% endblock %}</td>
            </tr>
        </table>
    </div>

    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
