{% extends 'base.html.twig' %}
{% block appbar_action %}
    <a href="{{ path('homepage') }}"><i class="go-back fas fa-arrow-left"></i></a><h1 style="">Movie Details</h1>
{% endblock %}
{% block body %}
    <div class="detail">
        <div class="detail__header">
            <h2>{{ details.movie.title }}</h2>
        </div>
        <div class="detail__block">
            <div class="detail__block-img">
                <img src="{{ details.movie.mediumPoster }}"/>
            </div>
            <div class="detail__block-content">
                <p class="detail__block--big-gray-text">{{ details.releaseDate|date('Y') }}</p>
                <p class="detail__block--big-gray-text"><i>{{ details.duration }} min</i></p>
                <p class="detail__block-rating">{{ details.voteAverage }}/10</p>
            </div>
        </div>
        <div class="detail__description">
            <p>{{ details.overview }}</p>
        </div>
    </div>
{% endblock %}
