{% extends 'base.html.twig' %}
{% block appbar_action %}
    <h1>Pop Movies</h1>
{% endblock %}
{% block body %}

    <div class="mui-row">
        {% for movie in movies %}
            <div class="mui-col-xs-6">
                <a href="{{ path('details', {id: movie.id}) }}">
                    <img src="{{ movie.largePoster }}" style="max-width: 100%;"/></a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
